<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style_barras.css">

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"
            defer></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);

        url = 'http://cidadesinteligentes.lsdi.ufma.br/collector/resources/data/';

        filtros = {"capabilities": ["incidencia_crime"], "matchers": {}};

        years = [2016, 2017, 2018];

        filtros["matchers"]["crime_type.eq"] = 'HOMICIDE';

        var qtdHomicides = [0, 0, 0];

        $.each(years, function (i, year) {
            filtros["matchers"]["year.in"] = year;
            $.post(url, filtros, function (data, textStatus) {
                $.each(data.resources, function (j, recurso) {
                    qtdHomicides[i] = recurso.capabilities.incidencia_crime.length;
                    console.log(qtdHomicides[i]);
                });

            });
        });



        filtros["matchers"]["crime_type.eq"] = 'THEFT';
        var qtdThefts = [0, 0, 0];

        $.each(years, function (i, year) {
            filtros["matchers"]["year.in"] = year;
            $.post(url, filtros, function (data, textStatus) {
                $.each(data.resources, function (j, recurso) {
                    qtdThefts[i] = recurso.capabilities.incidencia_crime.length;
                    console.log(qtdThefts[i]);
                });

            });
        });

        filtros["matchers"]["crime_type.eq"] = 'MOTOR VEHICLE THEFT';
        var qtdVehicleThefts = [0, 0, 0];

        $.each(years, function (i, year) {
            filtros["matchers"]["year.in"] = year;
            $.post(url, filtros, function (data, textStatus) {
                $.each(data.resources, function (j, recurso) {
                    qtdVehicleThefts[i] = recurso.capabilities.incidencia_crime.length;
                    console.log(qtdVehicleThefts[i]);
                });

            });
        });

        filtros["matchers"]["crime_type.eq"] = 'CRIMINAL TRESPASS';

        var qtdCriminalTrespass = [0, 0, 0];

        $.each(years, function (i, year) {
            filtros["matchers"]["year.in"] = year;
            $.post(url, filtros, function (data, textStatus) {
                $.each(data.resources, function (j, recurso) {
                    qtdCriminalTrespass[i] = recurso.capabilities.incidencia_crime.length;
                    console.log(qtdCriminalTrespass[i]);
                });

            });
        });


        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Ano', 'HOMICIDE', 'THEFT', 'MOTOR VEHICLE THEFT', 'CRIMINAL TRESPASS'],
                ['2016', qtdHomicides[0], qtdThefts[0], qtdVehicleThefts[0], qtdCriminalTrespass[0]],
                ['2017', qtdHomicides[1], qtdThefts[1], qtdVehicleThefts[1], qtdCriminalTrespass[1]],
                ['2018', qtdHomicides[2], qtdThefts[2], qtdVehicleThefts[2], qtdCriminalTrespass[2]]
            ]);

            var options = {
                chart: {
                    title: 'Quantitativo de crimes cidade de Chicago',
                    subtitle: 'Para os anos: 2016-2018',
                },
                bars: 'horizontal' // Required for Material Bar Charts.
            };

            var chart = new google.charts.Bar(document.getElementById('barchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }

    </script>
</head>
<body>

<!-- <form class="form-inline">
  <label for="date-input1" class="mr-sm-2">Data inicial</label>
  <div>
    <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="date" id="date-input1">
  </div>

  <label for="date-input2" class="mr-sm-2">Data final</label>
  <div>
    <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="date" id="date-input2">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<div id="barchart_material" style="width: 900px; height: 500px;"></div>
</body>
</html>
